// Theme colors
$primary: #412234;
$inverse: #fff;
$link : #212529;
$twitter:#00acee;
$facebook :#3b5998;
$gmail : #B23121;


// Theme fonts


// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';